node_modules
.vscode

# ビルドファイル
dist/*
!error.html

# lambdaのアップロードのためのライブラリ
lambda/send_slack_lambda/*
lambda/get_news_lambda/*
lambda/get_price_lambda/*
lambda/bitflyer_public_lambda/*
lambda/bitflyer_private_lambda/*
!lambda_function.py
!requirements.txt

# bitflyerの設定ファイル
!lambda/bitflyer_private_lambda/config
lambda/bitflyer_private_lambda/config/*
!bitflyer-config.sample.py

# awsの設定ファイル
src/config/*
!aws-config.sample.js

